extends base

block content
  .container.mt-5
    h1.text-center.mb-4 Flight Details
    if flight
      .card.shadow-lg
        .card-header.bg-primary.text-white
          h2.mb-0 Flight #{flight.flightNumber}
        .card-body
          dl.row
            dt.col-sm-4 Airline:
            dd.col-sm-8 #{flight.airline}
            dt.col-sm-4 Origin:
            dd.col-sm-8 #{flight.origin}
            dt.col-sm-4 Destination:
            dd.col-sm-8 #{flight.destination}
            dt.col-sm-4 Departure:
            dd.col-sm-8 #{flight.departure.toLocaleString ? flight.departure.toLocaleString() : flight.departure}
            dt.col-sm-4 Arrival:
            dd.col-sm-8 #{flight.arrival.toLocaleString ? flight.arrival.toLocaleString() : flight.arrival}
            dt.col-sm-4 Capacity:
            dd.col-sm-8 #{flight.capacity}
            dt.col-sm-4 Available Seats:
            dd.col-sm-8 #{flight.occupation}
        .card-footer.text-center
          .btn-group
            button.btn.btn-primary(type="submit") Update
            button.btn.btn-danger(type="button") Delete

    else
      .alert.alert-warning.text-center No flight found.